$base-scale: 8;

$width: $base-scale * 1em;
$heigth: $base-scale * 1.4em;

.beer-glass {
    width: $width;
    height: $heigth;
    border: 3px solid #000;
    border-top: 1px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin: auto;

    .beer-glass-liquid {
        width: 100%;
        height: 73%;

        display: inline-grid;
        align-items: center;
        justify-content: center;
    
        border-top: none;
        border: 1px solid #000;
        border-radius: 11px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .beer-glass-foam {
        width: 100%;
        height: 27%;
    
        border: 1px solid #000;
        background-color: #F7E7D8;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .beer-description {
        font-size: 0.9em;
        line-height: 1.5em;
        text-align: left;
    }
}


