.layout {
    & .header {
        position: fixed; 
        z-index: 1; 
        width: 100%;
    }

    & .content {
        padding: 20px 50px;
        margin-top: 64px;
    }
}

.page-layout {
    padding: 24px 0; 
    background: #fff;

    .page-content {
        padding: 0 24px;
        min-height: 280px;
    }

    .page-sider {
        background: #fff
    }
}

.text-center {
    text-align: center;
}