.layout {
    & .header {
        position: fixed; 
        z-index: 1; 
        width: 100%;
    }

    & .content {
        // padding: 20px 50px;
        margin-top: 64px;
    }
}

.page-layout {
    padding: 24px 0; 
    background: #fff;

    .page-content {
        padding: 0 24px;
        min-height: 280px;
    }
    
    .page-sider {
        background: #fff;
    }
    
    .fixed-page-sider {
        overflow: auto;
        height: 90vh;
        position: fixed;
        left: 0;
        top: 60px;
        overflow-x: hidden;
    }

    .fixed-page-content {
        padding: 0 24px;
        min-height: 280px;
        margin-left: 250px;
    }
}

.text-center {
    text-align: center;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}